<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr>
            <!--HyperX-->
            <div class="row" style="display:none;" id="sponsor1">
                <div class="col-md-12" >
                    <h1 class="text-center">Featured CombatLAN Sponsor</h1><a href="http://www.hyperxgaming.com/us/" target="_blank"><img class="img-responsive center-block sponsors" src="/assets/img/hyperx.png"></a></div>
            </div>
            <!--G2A-->
            <div class="row" style="display:none;" id="sponsor2">
                <div class="col-md-12">
                    <h1 class="text-center">Featured CombatLAN Sponsor</h1><a href="https://www.g2a.com/" target="_blank"><img class="img-responsive center-block sponsors" src="/assets/img/g2a.png"></a></div>
            </div>
            <!--CM Storm-->
            <div class="row" style="display:none;" id="sponsor3">
                <div class="col-md-12">
                    <h1 class="text-center">Featured CombatLAN Sponsor</h1><a href="http://gaming.coolermaster.com/en/start/" target="_blank"><img class="img-responsive center-block sponsors" src="/assets/img/cmstorm.png"></a></div>
            </div>
            <!--SteelSeries-->
            <div class="row" style="display:none;" id="sponsor4">
                <div class="col-md-12">
                    <h1 class="text-center">Featured CombatLAN Sponsor</h1><a href="https://steelseries.com/" target="_blank"><img class="img-responsive center-block sponsors" src="/assets/img/steelseries.jpg"></a></div>
            </div>
            <!--3DMark-->
            <div class="row" style="display:none;" id="sponsor5">
                <div class="col-md-12">
                    <h1 class="text-center">Featured CombatLAN Sponsor</h1><a href="http://www.3dmark.com/" target="_blank"><img class="img-responsive center-block sponsors" src="/assets/img/3dmark.png"></a></div>
            </div>
            <!--Sapphire-->
            <div class="row" style="display:none;" id="sponsor6">
                <div class="col-md-12">
                    <h1 class="text-center">Featured CombatLAN Sponsor</h1><a href="http://www.sapphiretech.com/Default.asp?lang=eng" target="_blank"><img class="img-responsive center-block sponsors" src="/assets/img/sapphire.jpg"></a></div>
            </div>
            <!--Thermaltake-->
            <div class="row" style="display:none;" id="sponsor7">
                <div class="col-md-12">
                    <h1 class="text-center">Featured CombatLAN Sponsor</h1><a href="http://www.thermaltakeusa.com" target="_blank"><img class="img-responsive center-block sponsors" src="/assets/img/thermaltake.jpg"></a></div>
            </div>
            <!--MCM-->
            <div class="row" style="display:none;" id="sponsor8">
                <div class="col-md-12">
                    <h1 class="text-center">Featured CombatLAN Sponsor</h1><a href="https://www.mcmelectronics.com/" target="_blank"><img class="img-responsive center-block sponsors" src="/assets/img/mcm.jpg"></a></div>
            </div>
        </div>
    </div>
</div>