<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="/index.html"><img src="/assets/img/brand.svg" width="200px"></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right" id="custom-nav">
                    <li role="presentation" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span>LAN Parties </span><span class="caret"></span>
                            <ul class="dropdown-menu">
    <li><a href="/attractions.html">Attractions</a></li>
    <li><a href="/schedule.html">Schedule</a></li>
    <li><a href="/tickets.html">Tickets</a></li> 
    <li><a href="/tournaments.html">Tournaments</a></li>
    <li><a href="/prizes.html">Prizes</a></li>
    <li><a href="/faq.html">FAQ &amp; Rules</a></li>
</ul>
                        </a>
                    </li>
                    <li role="presentation" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Community </span><span class="caret"></span> <ul class="dropdown-menu">
    <li><a href="/servers.html">Game Servers</a></li>
    <li><a href="/forums">Forums</a></li> 
    <li><a href="/downloads">Downloads</a></li> 
</ul></a></li>
                    <li role="presentation"><a href="/media.html"> Media</a></li>
                    <li role="presentation"><a href="/news.html">News </a></li>
                    <li role="presentation"><a href="/sponsors.html">Sponsors </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="navbar-fill"></div>
</header>