<div id="landing">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><img src="assets/img/brand2.svg" id="brand2"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="flipclock-wrapper" style="color:white; width:default; text-align:center; ">
                    <div class="clock"  style="display: inline-block;"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>April 30 - May 1, 2016</h1></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="tickets.html"> <button class="btn btn-default" type="button">Buy Tickets
                    </button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="#container"><img src="assets/img/down-arrow.svg" width="75" id="down-arrow"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </div>
</div>