<div class="col-md-3">
    <div class="row">
        <div class="hidden-xs hidden-sm sidebar" style="border-radius:10px; margin-left:10px;">
            <iframe src="https://discordapp.com/widget?id=116004970540564482&theme=dark" width="100%" height="350" allowtransparency="true" frameborder="0"></iframe>
            <p>Official CombatLAN Game Servers</p>
            <p>CSGO: 184.57.160.138:27015</p>
            <p>Halo Online: 184.57.160.138:11774</p>
            <p>Minecraft: 184.57.160.138:25565</p>
            <p>Team Fortress 2: 184.57.160.138:27015</p>
            <p>Killing Floor 2: 184.57.160.138:7777</p>
            <p>Left 4 Dead 2: 184.57.160.138:27015</p>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Responsive Ad -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-5150462984417146"
                 data-ad-slot="6864238648"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script><img class="img-responsive center-block" src="assets/img/examplead.jpg"></div>
    </div>
</div>
</div>
</div>
<div class="hidden-md hidden-lg sidebar">
    <div class="container">
        <div class="col-sm-12 col-xs-12">
            <iframe src="https://discordapp.com/widget?id=116004970540564482&theme=dark" width="100%" height="350" allowtransparency="true" frameborder="0"></iframe>
            <p>Official CombatLAN Game Servers</p>
            <p>CSGO: 184.57.160.138:27015</p>
            <p>Halo Online: 184.57.160.138:11774</p>
            <p>Minecraft: 184.57.160.138:25565</p>
            <p>Team Fortress 2: 184.57.160.138:27015</p>
            <p>Killing Floor 2: 184.57.160.138:7777</p>
            <p>Left 4 Dead 2: 184.57.160.138:27015</p>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Responsive Ad -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-5150462984417146"
                 data-ad-slot="6864238648"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script><img class="img-responsive center-block" src="assets/img/examplead.jpg"></div>
    </div>
</div>
</div> <!-- Row end tag from {{content}}-->
</div> <!-- Container end tag from {{content}}-->