<div class="col-md-3">
    <div class="row">
        <div class="hidden-xs hidden-sm sidebar" style="border-radius:10px; margin-left:10px;">
            <iframe src="https://discordapp.com/widget?id=116004970540564482&theme=dark" width="100%" height="350" allowtransparency="true" frameborder="0"></iframe>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p style="margin-top:20px">Official CombatLAN Game Servers</p>
                    <hr>
                </div>
            </div>
            <a href="/servers.html#l4d2">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p>Left 4 Dead 2:</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>6/8</p>
                    </div>
                </div>
            </a>
            <a href="/servers.html#tf2">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p>Team Fortress 2</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>0/24</p>
                    </div>
                </div>
            </a>
            <a href="/servers.html#csgo">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p>Counter-Stike GO:</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>8/10</p>
                    </div>
                </div>
            </a>
            <a href="/servers.html#kf2">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p>Killing Floor 2</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>12/12</p>
                    </div>
                </div>
            </a>
            <a href="/servers.html#halo">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p>Halo Online:</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>7/12</p>
                    </div>
                </div>
            </a>
            <a href="/servers.html#minecraft">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p>Minecraft</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>5/64</p>
                    </div>
                </div>
            </a>
            <hr>
            <div class="center-block">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Responsive Ad -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-5150462984417146"
                     data-ad-slot="6864238648"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <p class="text-center" style="margin-top:20px">These ads keep our servers online.</p>
        </div>
    </div>
</div>
</div>
</div>
<div class="hidden-md hidden-lg sidebar">
    <div class="container">
        <div class="col-sm-12 col-xs-12">
            <iframe src="https://discordapp.com/widget?id=116004970540564482&theme=dark" width="100%" height="350" allowtransparency="true" frameborder="0"></iframe>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p style="margin-top:20px">Official CombatLAN Game Servers</p>
                    <hr>
                </div>
            </div>
            <a href="/servers.html#l4d2">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p>Left 4 Dead 2:</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>6/8</p>
                    </div>
                </div>
            </a>
            <a href="/servers.html#tf2">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p>Team Fortress 2</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>0/24</p>
                    </div>
                </div>
            </a>
            <a href="/servers.html#csgo">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p>Counter-Stike GO:</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>8/10</p>
                    </div>
                </div>
            </a>
            <a href="/servers.html#kf2">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p>Killing Floor 2</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>12/12</p>
                    </div>
                </div>
            </a>
            <a href="/servers.html#halo">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p>Halo Online:</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>7/12</p>
                    </div>
                </div>
            </a>
            <a href="/servers.html#minecraft">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p>Minecraft</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>5/64</p>
                    </div>
                </div>
            </a>
            <hr>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Responsive Ad -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-5150462984417146"
                 data-ad-slot="6864238648"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <p class="text-center" style="margin-top:20px">These ads keep our servers online.</p>
    </div>
</div>
</div> <!-- Row end tag from content-->
</div> <!-- Container end tag from content-->